body{
    margin: auto 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.zone{
    cursor:pointer;       
    color:#FFF;
    font-size:1em;
    border-radius:4px;
    border: 1px solid #bbb;
    transition: all 0.3s linear; 
}

.box:hover{
    -webkit-transform: rotate(4.5deg);
    -moz-transform: rotate(4.5deg);
    -o-transform: rotate(4.5deg);
    transform: rotate(4.5deg);
}

.main-nav{
    display: flex;              
    list-style: none;           
    margin: 0;
    font-size: 1.2em;
}

@media only screen and (max-width: 600px){
    .main-nav{
        font-size: 0.8em;       
        padding: 0;             
    }
}

.push{
    margin-left: auto;
    margin-right: 40px;
}

/*modifiera listan*/
li{
    padding: 20px;       
}

a{
    color: #f5f5f6;            
    text-decoration: none;                        
}


/*------------- COVER ------------*/
.container{
    font-size: 100px;
    display: flex;            
    align-items: center;        
    justify-content: center;
    height: 500px;              
    height: 50vh;               
}


/*------------- GRID ------------*/
.grid-wrapper{
    display: grid;            
    grid-gap: 20px;         
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.box > img{
    width: 100%;                
}

.box{
    background-color: rgb(236, 238, 239);
    margin: 15px;               
}


/*------------- FOOTER ------------*/
footer{
    text-align: center;
}


/*------------- BACGROUND-COLORS ------------*/
.header{
   background-color: rgb(168, 111, 111);
}

.cover{
    background-image: url(https://images.unsplash.com/photo-1533134486753-c833f0ed4866?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    max-height: 100%;
}

.grid{
    background-color:  #9c8181;
}

.footer{
    background-color:rgb(168, 111, 111);
}



